{
    "express_port": 3000,
    "firebase_database_url": "",
    "firebase_account_file": "",
    "facebook_fields": "me?fields=id,name,email,birthday,first_name,last_name",
    "google_client_id": "",
    "google_client_secret": "",
    "google_maps_key": "",
    "google_scopes": [
        "https://www.googleapis.com/auth/plus.login",
        "https://www.googleapis.com/auth/plus.me",
        "https://www.googleapis.com/auth/userinfo.email",
        "https://www.googleapis.com/auth/userinfo.profile",
        "email"
    ],
    "ormconfig": {
        "type": "mongodb",
        "host": "localhost",
        "port": 27017,
        "username": "",
        "password": "",
        "database": "yggdrasil",
        "synchronize": true,
        "logging": false,
        "entities": [
            "api/graphql-type/*.ts"
        ],
        "migrations": [
            "src/migration/**/*.ts"
        ],
        "subscribers": [
            "src/subscriber/**/*.ts"
        ]
    }
}